.header {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    padding: 1rem 3rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: calc(100% - 6rem);
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #005aa7;
    cursor: pointer;
  }
  
  .logo:hover {
    text-decoration: none;
  }
  
  .navItems {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex: 1;
    font-size: 1.15rem;
    font-weight: bold;
  }
  
  .navItems a {
    text-decoration: none;
    color: #005aa7;
  }
  
  .navItems a:hover {
    text-decoration: none;
  }
  
  .consoleButton {
    padding: 0.5rem 1.5rem;
    background: #005aa7;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-left: auto;
  }
  
  .consoleButton:hover {
    background: #004d8c;
    text-decoration: none;
  }